{% extends "layout.njk" %}



<!-- Main Content -->
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                   <h1>Error Loading the page</h1>
                   <p>We are sorry, but we couldn't find this page, please check your url</p>
                   
                   
                </div>
            </div>
        </div>
    
        <!--
         console.log('Error: ', {{err}})
        -->
 {% endblock %}