<div class="left-column-photo">
    <img width="200" height="200" src="/assets/img/portrait-photo.jpg" alt="Michal Zak Photo" ></img>
</div>
<div  class="index-left-post-meta">
    <string>Web/Mobile Developer</strong>, <br />
    always interested in the <br />
    next best tech, what will<br />
     it be?
</div>

<h3>Recent Projects</h3>
<a class="index-left-project-images" href="/2016/12/26/HQNetworkSolutions/"><img width="200"  src="/assets/img/hqlogo.png" alt="HQ Network Solutions" ></img></a>
<h5>Technologies Used</h5>
<ul>
    <li>Gulp</li>
    <li>Bootsrap</li>
    <li>Photoshop</li>
</ul>


